Repository scionproto/scion, pull requests merged in 2018-12, with the labels that each got.

#1927 BR: Acceptance tests
  .buildkite/steps/setup.yml
  .circleci/config.yml
  acceptance/brutil/br-conf/braccept-topo.png
  acceptance/brutil/br-conf/topology.json
  acceptance/brutil/br-core-conf/as.yml
  acceptance/brutil/br-core-conf/braccept-core-topo.png
  acceptance/brutil/br-core-conf/keys/master0.key
  acceptance/brutil/br-core-conf/keys/master1.key
  acceptance/brutil/br-core-conf/topology.json
  acceptance/brutil/common.sh
  acceptance/brutil/dispatcher-conf/dispatcher.zlog.conf
  acceptance/brutil/docker-compose.yml
  acceptance/brutil/util.sh
  acceptance/core_brA_acceptance/test
  acceptance/core_brB_acceptance/test
  acceptance/core_brC_acceptance/test
  acceptance/ctl
  acceptance/lib.sh
  env/debian/pkgs.txt
  go/Makefile
  go/border/braccept/brtest.go
  go/border/braccept/core_tests.go
  go/border/braccept/main.go
  go/border/braccept/tpkt/addrhdr.go
  go/border/braccept/tpkt/overlay.go
  go/border/braccept/tpkt/scionlayer.go
  go/border/braccept/tpkt/scnpath.go
  go/border/braccept/tpkt/tpkt.go
  go/border/braccept/tpkt/valid.go
  go/border/router.go
  go/border/rpkt/validate.go
  go/border/setup.go
  go/lib/l4/udp.go
  go/lib/spath/hop.go
  go/lib/spath/info.go
  go/lib/spkt/cmnhdr.go
  go/lib/util/padding.go
  go/vendor/vendor.json
Labels: BR

#2190 Specify source hint in SIG routing table
  go/sig/internal/sigconfig/conf.go
  go/sig/main.go
  go/sig/xnet/xnet.go
Labels: SIG

#2192 dispatcher: initial Go commit and env setup
  go/border/main.go
  go/cert_srv/main.go
  go/cert_srv/setup.go
  go/godispatcher/internal/config/config.go
  go/godispatcher/internal/config/sample.go
  go/godispatcher/main.go
  go/lib/env/logging.go
  go/path_srv/main.go
  go/sciond/main.go
  go/sig/main.go
Labels: dispatcher

#2155 Dynamic peer SIG discovery
  go/lib/addr/host.go
  go/sig/base/core/as.go
  go/sig/base/events.go
  go/sig/base/pollhdlr.go
  go/sig/config/config.go
  go/sig/config/config_test.go
  go/sig/egress/interface.go
  go/sig/egress/session/session.go
  go/sig/egress/session/sessmon.go
  go/sig/egress/worker/worker.go
  go/sig/siginfo/sig.go
  python/topology/common.py
  python/topology/topo.py
Labels: Breaking Change, SIG

#2221 Implement Go dispatcher port tables
  go/godispatcher/internal/registration/errors.go
  go/godispatcher/internal/registration/portlist.go
  go/godispatcher/internal/registration/svctable.go
  go/godispatcher/internal/registration/svctable_test.go
  go/godispatcher/internal/registration/table.go
  go/godispatcher/internal/registration/table_test.go
  go/godispatcher/internal/registration/udptable.go
  go/godispatcher/internal/registration/udptable_test.go
  go/godispatcher/registration/bench_test.go
  go/godispatcher/registration/generators_test.go
  go/godispatcher/registration/iatable.go
  go/godispatcher/registration/iatable_test.go
  go/lib/xtest/convey.go
Labels: dispatcher

#2252 BR: Fix topo reloading
  go/border/setup.go
Labels: BR

#2250 Refactor reliable socket implementation
  go/Makefile
  go/lib/snet/snet.go
  go/lib/sock/reliable/bench_test.go
  go/lib/sock/reliable/errors.go
  go/lib/sock/reliable/frame.go
  go/lib/sock/reliable/frame_test.go
  go/lib/sock/reliable/packetizer.go
  go/lib/sock/reliable/packetizer_test.go
  go/lib/sock/reliable/registration.go
  go/lib/sock/reliable/registration_test.go
  go/lib/sock/reliable/reliable.go
  go/lib/sock/reliable/reliable.goconvey
  go/lib/sock/reliable/reliable_test.go
  go/lib/sock/reliable/util.go
  go/tools/scmp/main.go
Labels: dispatcher
